body {
    font-family: sans-serif;
    font-size: 24px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
                    
  main {
    
  }

 
  .hidden {
    visibility: hidden;
  }

 
                     
  .inputBoardRow1, .inputBoardRow2,
  .inputBoardRow3, .inputBoardRow4,
  .inputBoardRow5, .inputBoardRow6 {
    display: flex;
    width: 50%;
    height: 100px;
    flex-direction: row;
    justify-content: start;
    padding: 15px;
  }

  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
    background-color: rgb(255, 235, 196);
    margin: 5px;
  }

  .keyboard {
    display: flex;
    width: 950px;
    height: 200px;
    border: 2px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: light grey;
    align-items: top;
    padding: 15px;
    margin: 5px;
  }
  
  .key {
    display: flex;
    width: 70px;
    height: 40px;
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: gray;
    color: white;
    margin: 5px;
    padding: 5px;
    gap: 30px;
  }

  .green {
    background-color: green;
  }

  .peach {
    background-color: rgb(201, 120, 49);
  }